.controls {
  display: flex;
  height: 2rem;
  margin-top: 1rem;
}

.city-name-form {
  width: 14ch;
  outline: 0;
}

.city-name-input {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  outline: 0;
}

.unit-button {
  margin-left: auto;
  font-family: inherit;
  border-radius: 0.5rem;
  border: 0;
}

.unit-button.celsius {
  background: #c5e3f6;
}

.unit-button.fahrenheit {
  background: #fccde2;
}

.unit-button:focus,
.unit-button:hover {
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
}

.unit-button:active {
  background: pink;
}

.unit-button.celsius .unit-celsius,
.unit-button.fahrenheit .unit-fahrenheit {
  font-size: 1.2rem;
}
